/* Estilo Global */
body {
    margin: 0;
    background: linear-gradient(to bottom, #eaf1ff, #ffffff);
    font-family: Arial, sans-serif;
}

.container {
    max-width: 380px;
    margin: auto;
    padding: 20px;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 35px;
    height: 35px;
    border: 1px solid #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}

/* Formulário (Campos) */

.block-name-field, 
.flash-input {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

/* Estilo dos Inputs e Textarea */
.block-name-field input,
.flash-input textarea {
    width: 100%;
    padding: 14px;
    padding-top: 26px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.floating-label {
    position: absolute;
    top: 6px;
    left: 14px;
    color: #777;
    font-size: 13px;
    pointer-events: none;
}

textarea {
    resize: none;
    height: 120px;
}

/* BOTÕES */

.action-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.cancel {
    background: #ddd;
}

.add {
    background: #6a5acd;
    color: white;
}